<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
        <meta http-equiv="cleartype" content="on">
		<meta name="google-site-verification" content="uy3DW-Q0an5hc89nNigEkrGkQKfAq36cfckexhzjtys" />

        <title>
            {% if wp_title %}
                {{ wp_title }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
        {% if options.common.favicon is not empty %}
            <link rel="shortcut icon" href="{{ options.common.favicon.url }}">
        {% endif %}
        <script>
            // If fonts are cached, skip FFO.
            if (window.sessionStorage.fontsLoaded === 'true') {
                document.documentElement.classList.add("fonts-loaded");
            } else {
                var script = document.createElement("script");
                script.src = '{{ theme.uri ~ "/build/" ~ manifest['fontloader.js'] }}';
                script.async = true;
                document.head.appendChild(script);
            }
        </script>

        {{ function('wp_head') }}
    </head>
