<div class="not-found {{ size }} {{ align }}">
	<div class="not-found__icon">
		<i class="{{ icon }}"></i>
	</div>
	<h1>{{ title }}</h1>
	{% if subtitle %}
		<h3>The page you are looking for does not exist.</h3>
	{% endif %}
	<div class="not-found__buttons">
		<a class="btn btn-black has-icon has-icon--left" data-module="back">
			<i class="fa fa-arrow-left"></i>
			Go Back
		</a>
		<a class="btn btn-primary has-icon has-icon--right" href="{{ function('get_home_url') }}">
			Home
			<i class="fa fa-home"></i>
		</a>
	</div>
</div>
