<div class="post-preview">
	<div class="post-preview__image">
		<a href="{{ link }}">
			{% if thumbnail %}
				<img src="{{ thumbnail.src }}" alt="{{ thumbnail.alt }}"/>
			{% else %}
				<div class="post-preview__image__placeholder"></div>
			{% endif %}
			<div class="post-preview__date">
				<span></span>
				<p>{{ date|date('M d, Y') }}</p>
			</div>
		</a>
	</div>
	<h3 class="post-preview__title"><a href="{{ link }}">{{ title }}</a></h3>
	<div class="post-preview__meta">
		<ul>
			{% if category.link %}
			<li>
				<i class="fa fa-folder-open"></i>
				<a href="{{ category.link }}">{{ category.title }}</a>
			</li>
			{% endif %}
		</ul>
	</div>
	<p class="post-preview__excerpt">
		{{ excerpt ? excerpt : preview.length(25).read_more('') }}
	</p>

	<a href="{{ link }}" class="btn btn-primary btn-sm">Read More</a>
</div>
