{% extends '4_regions/section.twig' %}

{% set section = {
	class: 'section--half',
	contain: true
} %}

{% block sectionContent %}
<div class="row">
	<div class="span-12 span-6@tablet">
		<div class="content">
			<h4 class="title">{{ title }}</h4>
			{{ content }}
			{% if cta %}
			<a href="{{cta.linkHref}}" class="btn btn-primary">{{ cta.linkText }}</a>
			{% endif %}
		</div>
	</div>
	<div class="span-12 span-6@tablet">
		<div class="image">
			<img src="{{ image.url }}" alt="{{ image.alt }}"/>
		</div>
	</div>
</div>
{% endblock %}
