{% set section = {
	class: 'section--service',
	contain: true
} %}
{% embed '4_regions/section.twig' %}
	{% block sectionContent %}
		<div class="row">
			<div class="span-12 span-4@tablet">
				<div class="image">
					<a href="{{ service.link }}">
						<img src="{{ service.thumbnail.src }}" alt="{{ service.thumbnail.alt }}"/>
					</a>
				</div>
			</div>
			<div class="span-12 span-7@tablet push-1@tablet">
				<div class="content">
					<a href="{{ service.link }}"><h4 class="title">{{ service.title }}</h4></a>
					{{ service.content }}
					{% include '2_pieces/service-features.twig' with {
						features: service.get_field('serviceFeatures')
					} %}
					{% if service.get_field('serviceBuyLink') %}
					<a href="{{service.get_field('serviceBuyLink').url}}" class="btn btn-primary">{{ service.get_field('serviceBuyLink').title }}</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endblock %}
{% endembed %}
