{% set section = {
	class: 'section--wholesale section--sm section--wholesale--' ~ data.imageAlign,
	contain: true
} %}

{% embed '4_regions/section.twig' %}
	{% block sectionContent %}
		<div class="row">
			<div class="span-12">
				<h2 class="title">{{ data.title }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="span-12 span-6@tablet {{data.imageAlign == 'right' ? 'pull-right' : '' }}">
				<div class="image">
					<img src="{{ data.image.sizes.large }}" alt="{{ data.image.alt }}"/>
				</div>
			</div>
			<div class="span-12 span-6@tablet">
				<div class="content">
					{{ data.content }}
				</div>
			</div>
		</div>
	{% endblock %}
{% endembed %}
